@mixin button-style($bg-color, $text-color){
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        opacity: 0.4;
    }
}
.button-primary{
    @include button-style(#3498db, aqua)

}
.button-secondary{
    @include button-style(#2ecc71, grey)
}
